<%- include('../../partials/addons/all-links', { title: 'Home' }) %>

    <body>
        <main class="h-screen w-full">
            <%- include('../../partials/addons/all-js') %>
                <%- include('../../partials/footer') %>
        </main>
    </body>

    </html>