<%- include('./loader') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        $(document).ready(function () {
            $('#mobile-menu-button').click(function () {
                $('.show-menu').toggleClass('hidden');
            });
            setTimeout(() => {
                $('.index_main').addClass('pt-15');
                $('.loading_animation').addClass('hidden');
            }, 600);

            const token = localStorage.getItem('access_token');
            const button = $('.user_start_btn');

            if (token) {
                button.html(`
                    <div class="relative group">
                        <button class="rounded bg-neutral-primary-soft border border-gray-100 px-2 py-1 text-blue-500 shadow-xs">
                            <i class="ri-user-line text-yellow-500"></i>
                            Dashboard
                        </button>
                        <div class="absolute right-0 hidden group-hover:block bg-white shadow-md rounded-md w-40 z-50">
                            <a href="/profile" class="block px-4 py-2 hover:bg-gray-100">
                                <i class="ri-user-line me-2"></i>Profile
                            </a>
                            <a href="/orders" class="block px-4 py-2 hover:bg-gray-100">
                                <i class="ri-box-line me-2"></i>Orders
                            </a>
                            <hr/>
                            <button onclick="logout()" class="w-full text-left px-4 py-2 text-red-500 hover:bg-gray-100">
                                <i class="ri-logout-box-line me-2"></i>Logout
                            </button>
                        </div>
                    </div>
                `);
            } else {
                button.html(`
                    <a href="/web/auth/register"
                    class="bg-yellow-500 transition-all duration-300 text-white font-medium text-base py-2 px-4 rounded hover:bg-yellow-600">Get
                    Started<i class="ri-arrow-right-up-long-line ms-2"></i></a>
                `);
            }
        });
    </script>