<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirection page</title>
</head>

<body style="height: 100vh; display: flex; justify-content: center; align-items: center;">
    <a href="" style="border: 1px solid #f7f7f7f7; padding: 10px; border-radius: 5px;">
        Go to view
    </a>
</body>

</html>