<%- include('../partials/addons/all-links', { title: 'Home' }) %>

    <body>
        <%- include('../partials/header') %>
            <main>
                <%- include('../partials/addons/common-js') %>
                    <%- include('../partials/footer') %>
            </main>
    </body>

    </html>